extends layout

block header_meta
	- var content_title= 'РЕСПУБЛИКА | ТЕРМИНАЛ'

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['terminals.css']
	- var include_libs_js = ['swiper.min.js', 'socket.io.js']
	- var include_js = ['terminals.js']

block panel
	.place_title Д237_холл
	.buttons
		.button.places Локации
		.button.navigate Навигация
		.button.reboot Обновить
		.button.reset Сброс

block content
	.places_block
		.places_title
		.places_list
			include _places.jade
		.places_connect Подключить

	.slider_block.swiper-container
		.swiper-wrapper
		.swiper-button-next.swiper-button-black
		.swiper-button-prev.swiper-button-black