.toggle_meta.select
	color red

.add_media
	width 100%
	border 3px solid maroon
	text-align center
	margin-bottom 40px
	box-sizing border-box
	padding-top 10px
	padding-bottom 8px
	&:hover
		color white
		cursor pointer
		background-color maroon

.media_block
	background-color lightgrey
	&.meta_show
		.meta, .option
			display inline-block!important
	.media_item
		width 270px
		height 165px
		background-color maroon
		float left
		margin-right 40px
		margin-bottom 40px
		position relative
		.title
			display inline
			font-size 44pt
			line-height 40pt
		&:nth-child(4n)
			margin-right 0
		&:hover
			.meta, .option
				display inline-block
		.meta
		.option
			background-color black
			color white
			position absolute
			padding 2px 8px 2px 8px
			min-width 15px
			text-align center
			user-select none
			display none
			&:hover
				background-color red
				cursor pointer
			&.hide
				display none!important
			&.remove_item
				right 0
			&.update_item
				right 31px
				&:hover
					background-color rgb(104, 206, 70)
			&.counter.plus
				right 0
				bottom 50px
			&.counter.minus
				right 0
				bottom 25px
			&.duration
				right 0
				bottom 0
				&:after
					content 's'
			&.interval
				left 0
				bottom 0