.add_media
	width 100%
	border 3px solid maroon
	text-align center
	margin-bottom 40px
	box-sizing border-box
	padding-top 10px
	padding-bottom 8px
	&:hover
		color white
		cursor pointer
		background-color maroon

.media_block
	background-color lightgrey
	.media_item
		width 240px
		height 135px
		background-color maroon
		float left
		margin-right 80px
		margin-bottom 40px
		.title
			display inline
			font-size 44pt
			line-height 40pt
		&:nth-child(4n)
			margin-right 0