.slider_inner::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
}

.slider_inner::-webkit-scrollbar-track {
	background-color: lightgrey;
	border-radius: 8px;
}

.slider_inner::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgb(74, 140, 247)
}

.show_ribbon.active
	color red

.slider_block
	background-color lightgrey
	white-space nowrap
	overflow hidden
	vertical-align top
	font-size 0
	min-height 180px
	.slider_inner
		overflow-y hidden
		vertical-align top
		white-space nowrap
		vertical-align top
		min-height 180px
	&.ribbon
		.media_item
			background-color green
		.placeholder
			background-color grey
		&.open
			min-height 165px!important
			.slider_inner
				min-height 165px!important
				white-space normal
				overflow-y auto
				margin-left -40px
				margin-top -40px
			.placeholder
			.media_item
				width 270px!important
				height 165px!important
				margin-top 40px
				margin-left 40px
				margin-right 0
	&.pool
		.media_item
			background-color maroon
		.meta:hover
			cursor move
			background-color black!important
	.media_item
	.placeholder
		display inline-block
		vertical-align top
		width 320px
		height 180px
		font-size 12pt
		margin-right 20px
		cursor move
	.media_item
		position relative
		&.video .counter:after
			content 'r'
		&.image .counter:after
			content 's'
		&.expired
			opacity .4
		&:last-child
			margin-right 0
		&:hover
			opacity 1
	.meta
	.option
		background-color black
		color white
		display inline-block
		position absolute
		padding 2px 8px 2px 8px
		min-width 15px
		text-align center
		user-select none
		&.hide
			display none
		&:hover
			background-color red
			cursor pointer
		&.revert_meta
			right 31px
			&:after
				content '✂'
		&.add_meta
			left 0
			bottom 0
			&:before
				content '+ '
		&.remove_item
			right 0
			&:after
				content '×'
		&.new_item
			background-color rgb(104, 206, 70)
			cursor move
			&:after
				content '★'
		&.add_item
			right 0
			&:after
				content '+'
		&.button.plus
			right 0
			bottom 50px
			&:after
				content '+'
		&.button.minus
			right 0
			bottom 25px
			&:after
				content '--'
		&.counter
			right 0
			bottom 0
		&.interval
			left 0
			bottom 0