extends ../layout
include ../_forms

block header_meta
	- var content_title= 'ДОБАВИТЬ ЛЕНТУ'

block header_include
	- var include_libs_css = ['pickmeup.min.css',]
	- var include_css = ['add.css', 'a_ribbon.css']
	- var include_libs_js = ['jquery.pickmeup.min.js', 'jquery-ui.min.js']
	- var include_js = ['add.js', 'a_ribbon.js', 'a_events.js']

block sub_menu
	a.sub_item.back_link(href='/admin/ribbons') Назад
	span.sub_item.toggle_eng Перевод
	.sub_right_block
		input.form_cancel(type='submit', value='Отменить')
		input.form_submit(type='submit', value='Добавить')


block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Название:
			+form_text_single('title')
			.form_title Контент:
			.slider_block.pool
				for item, i in new Array(15)
					.media_item
						.title= i
						.option.add_item +
						.option.remove_item.hide ×
						.option.add_meta.hide + мета
						.option.revert_meta.hide ⊙
						.option.counter.plus.hide +
						.option.counter.minus.hide --
						.meta.duration 3
						.meta.interval 24.12.17 - 28.12.17
			.form_title Лента:
			.slider_block.ribbon
				for item, i in new Array(5)
					.media_item
						.title= i
						.option.remove_item ×
						.option.add_meta + мета
						.option.revert_meta.hide ⊙
						.option.counter.plus.hide +
						.option.counter.minus.hide --
						//- .meta.duration 3
						//- .meta.interval 24.12.17 - 28.12.17
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden') Скрытый
			.form_title Дата публикации:
			+form_date('date')