doctype html
html
	head
		include header
	body
		.main_block
			.header_block
				.menu_block
					.logo
						a(href='/') RESPUBLICA
						span= ' | '
						a(href='/admin') STARGAZER
					a(href='/admin/users') ПОЛЬЗОВАТЕЛИ
					a(href='/admin/places') ЛОКАЦИИ
					a(href='/admin/ribbons') ЛЕНТЫ
					a(href='/admin/media') КОНТЕНТ
					a(href='/admin/ads') ОБЪЯВЛЕНИЯ
				.sub_menu_block
					block sub_menu
			.content_block
				block content